@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
